*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Montserrat Alternates', sans-serif;
}
 body
{
	background-color: #ffffff;
}
ul{
	display:inline;
	list-style: none;
	text-align: center;
}
h1
{
	text-align: center;
	padding: 0 2em 0 0;
}
nav
{
	width: 100%;
	padding: 0 2em 0 1em;
	position: absolute;
	text-align: center;
}
header
{
	background: #32352e;
	color: #ffffff;
	padding: 1em;
	overflow: hidden;
	height: 23%;
	width: 100%;
	position: relative;
}
nav ul li{
	display: inline-block;
	padding: 1em 3em 1em 1em;
	text-align: center;
}
a{
	text-decoration: none;
}
#yo
{
	position: absolute;
	top: 10px;
	left: 10px;
	width: 110px;
	height: 100px;
	border-radius: 50%;
}
.icon_blancos{
color: #ffffff;
}
.social
{
	left: 0;
	position: fixed;
	top: 55%;
}
.social ul
{
	list-style: none;
}
.social ul li a
{
	display: inline-block;
	padding: 0.5em 0.5em;
	font-size: 1.3em;
	background: #000000;
	text-decoration: none;
	color: #ffffff;
}
.social ul li a:hover
{
	background-color: #000000;
}
.social ul li .icon-faceb{background-color: #0D47A1;}
.social ul li .icon-instagram{background-color: #757575;}
.social ul li .icon-youtube{background-color: #F44336;}
.social ul li .icon-google-plus{background-color: #FF5722;}
.social ul li .icon-github{background-color: #212121;}

.menu-fixed
{
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%;
	opacity: 0.8;
}
.menu-boot nav
{
	color: #ffffff;
	background-color:#0D47A1 ;
	font-size: 1.2em;
	text-align: center;

}
div nav
{

}
/*
Para dispositivos móviles-------------------------------------------
*/

@media screen and (max-width:800px){
	nav ul li {
		display: block;
		float: none;
		border-bottom: 1px solid #ffffff;
	}
	.contactobtn
	{
	display: none;
	}
	.espacio
	{
		margin: 0;

	}
	.espacio div form li
	{
		display: block;
	}
	div form li
	{
		padding: 2.8em 3em 0 3em;
		margin: 0 0 0 0;
		display: block;
	}
	div form .upface
	{
		padding-top: 0;
	}
	form
	{
		margin-top: 0;
	}

	.menu_bar
	{
		display: block;
		width: 100%;
	}
	.menu_bar .btn_menu{
		display: block;
		padding: 20px;
		color: #ffffff;
		font-size: 1.5em;
		background: #1976D2;
		text-decoration: none;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.menu_bar span
	{
		float: center;
	}
	h1{
		padding: 0 0 0 3.2em;
	}
	#slider1_container
	{
		display: none;
	}
}
@media screen and (max-width:400px){
	div form li
	{
		padding-left: 0;
		padding-right: 0;
		display: block;
	}
	.contactobtn
	{
	display: none;
	}
}
